* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.navbar {
	width: 100%;
	background-color: #555;
	overflow: auto;
}

.navbar a {
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	width: 25%;
	text-align: center;
}

.navbar a:hover {
	background-color: #000;
}

.navbar a.active {
	background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
	.navbar a {
		float: none;
		display: block;
		width: 100%;
		text-align: left;
	}
}

.parallax {
	background-image: url("12.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.text h2 {
	height: 1000px;
	background-color: white;
	color: black;
	font-size: 36px;
}
.footer {
	width: 100%;
	background-color: #555;
	overflow: auto;
	font-size: 20px;
	height: 1000px;
}
table{
	width: 100%;
}
img{
	border-style: solid;
	border-radius: ;
}

	


